[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pre-commit = "*"
django-nose = "*"
coverage = "*"
pycodestyle = "*"
ipdb = "*"
django-pdb = "*"

[packages]
djangorestframework = "==3.11.0"
django = "==3.0.5"
python-decouple = "==3.3"
anchorecli = "==0.6.0"
drf-yasg = {extras = ["validation"],version = "==1.17.1"}
psycopg2-binary = "==2.8.4"
paclair = "==3.2.0"
pyaml = "==19.12.0"
gunicorn = "==20.0.4"
celery = "==4.4.0"
kombu-sqlalchemy = "==1.1.0"
django-celery-results = "==1.1.2"
django-health-check = "==3.11.1"
whitenoise = "==5.0.1"
django-allow-cidr = "==0.3.1"

[requires]
python_version = "3.6"
