[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "==2.4.4"
pre-commit = "==1.20.0"
django-nose = "==1.4.6"
coverage = "==5.0.1"
pycodestyle = "==2.5.0"
ipdb = "==0.12.3"
django-pdb = "==0.6.2"

[packages]
djangorestframework = "==3.11.0"
django = "==3.0.1"
python-decouple = "==3.3"
coreapi = "==2.3.3"
anchorecli = "==0.6.0"
drf-yasg = {extras = ["validation"],version = "==1.17.0"}
psycopg2-binary = "==2.8.4"
paclair = "==3.2.0"
pyaml = "==19.12.0"
pyjwt = "==1.7.1"
gunicorn = "==20.0.4"
cryptography = "==2.8"
celery = "==4.4.0"
kombu-sqlalchemy = "==1.1.0"
django-celery-results = "==1.1.2"
django-health-check = "==3.11.1"

[requires]
python_version = "3.7"
