[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pre-commit = "*"
django-nose = "*"
coverage = "*"
pycodestyle = "*"
ipdb = "*"
django-pdb = "*"

[packages]
djangorestframework = "==3.12.2"
django = "==3.1"
python-decouple = "==3.3"
anchorecli = "==0.7.2"
drf-yasg = {extras = ["validation"],version = "==1.17.1"}
psycopg2-binary = "==2.8.5"
paclair = "==3.2.0"
pyaml = "==20.4.0"
gunicorn = "==20.0.4"
celery = "==4.4.7"
kombu-sqlalchemy = "==1.1.0"
django-celery-results = "==1.2.1"
django-health-check = "==3.12.1"
whitenoise = "==5.2.0"
django-allow-cidr = "==0.3.1"

[requires]
python_version = "3.6"
